.btnGetKey{
    width: max-content;
    color: #ffffff;
    border: 1px solid #B21065;
    border-radius: 35px;
    text-shadow: 0 -1px 0 #EFB7DE;
    padding: 20px 40px;
    font-size: 30px;
    cursor: pointer;
    background-image:
    linear-gradient(to bottom,
        #fff9,
        transparent 50%, transparent 90%,
        #f5CBBC99),
    repeating-linear-gradient(60deg,
        #bc058255 0, #bc058255 10px,
        transparent 10px, transparent 20px),
    linear-gradient(to bottom,
        #EE08A6, #EE6C8F);
    box-shadow:
        0 12px 0 #0005,
        0 5px 0 #BD1360,
        0 5px 0 12px #fff,
        0 0 30px 20px #893066;
    transition: .4s;
    font-family: "Times New Roman", sans-serif;
}
.wapperAdmin{
    display: flex;
    width: 100%;
}
.bodyAdmin{
    margin: 20px;
    width: 100%;
}
.textNoti{
    color: white;
    margin-top: 30px;
    text-align: center;
}

.btnGetKey:active{
    color: #bfceb6;
    box-shadow:
            0 0px 0 #0005,
            0 0px 0 #BD1360,
            0 0px 0 12px #fff,
            0 0 30px 20px #893066;
    transform: translateY(5px);
}

.spin{
    position: absolute;
    bottom: 50%;
    left: 50%;
}

.butonGroup{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%,50%);
}

.buttonChooseGame{
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #5f605f;
    padding: 5px 10px;
    margin-left: 10px;
    position: relative;
    height: max-content;
    top: 50%;
    transform: translate(0%,-50%);
}

.buttonChooseGame:hover{
    color: white;
    background-color: #0b85e8;
}
.cascader{
    position: absolute;
    top: -80%;
    width: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.textDescription{
    position: absolute;
    width: max-content;
    max-width: 90vw;
    left: 50%;
    margin-top: 20px;
    transform: translateX(-50%);
    font-style: italic;
    color: white;
    text-align: center;
}
.key{
    color: red;
    width: max-content;
    height: fit-content;
    padding: 3vh 3vw;
    border-radius: 30px;
    font-size: 25px;
    text-align: center;
    background-color: #dceafc;
    box-shadow: -3px -3px 10px #0954b0,
    5px 5px 15px #073571,
    inset -5px -5px 15px #8d9db0,
    inset 5px 5px 15px #073571;
}

.formInputKey{
    text-align: center;
    background-color: #0b85e8;
    border-radius: 20px;
    padding: 20px;
    width: 50%;
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
}

.formData{
    text-align: center;
    width: 70%;
    position: relative;
    margin: 50px auto 0;
}

.labelData{
    font-size: 50px;
    color: white;
    margin-bottom: 20px !important;
}

.labelAdd{
    font-size: 20px;
    color: white;
    margin-bottom: 10px !important;
}


.btnAdd{
    margin-top: 10px !important;
}

.btnAdd:disabled{
    background-color: #6e6e6e;
    border: 1px solid #5e5d5d;
    color: #a2a2a2;
}
.btnImport{
    background-color: #090000;
    margin-left: 20px;
    color: #fff;
}

.btnImport:hover{
    background-color: #2c2c2c;
}

.inputKey{
    width: 100%;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.wapper{
    width: 100%;
    min-height: 90vh;
    padding-bottom: 50px;
}

.wapperAdmin{
    width: 100%;
}

.keysGroup{
    position: relative;
    min-height: 90vh;
    width: 100%;
    text-align: center;
    justify-content: center;
    justify-items: center;
    vertical-align: middle;
}
.keyGroup{
    position: absolute;
    left: 50%;
    top: 35%;
    margin: 0 auto;
    transform: translate(-50%,-35%);
    width: max-content;
}

.btnGetNewKey {
    width: max-content;
    color: #ffffff;
    border: 1px solid #B21065;
    border-radius: 50px;
    text-shadow: 0 -1px 0 #EFB7DE;
    padding: 20px 40px;
    font-size: 15px;
    cursor: pointer;
    background-image:
            linear-gradient(to bottom,
            #fff9,
            transparent 50%, transparent 90%,
            #f5CBBC99),
            repeating-linear-gradient(60deg,
            #bc058255 0, #bc058255 10px,
            transparent 10px, transparent 20px),
            linear-gradient(to bottom,
            #EE08A6, #EE6C8F);
    box-shadow:
            0 12px 0 #0005,
            0 5px 0 #BD1360,
            0 5px 0 12px #fff,
            0 0 30px 20px #893066;
    transition: .4s;
    position: absolute;
    margin: 0 auto;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: "Times New Roman", sans-serif;
    height: fit-content;
}
.btnLogin:active{
    color: #bfceb6;
    box-shadow:
            0 0px 0 #0005,
            0 0px 0 #BD1360,
            0 0px 0 12px #fff,
            0 0 30px 20px #893066;
}
.btnLogin{
    color: #ffffff;
    border: 1px solid #B21065;
    border-radius: 50px;
    text-shadow: 0 -1px 0 #EFB7DE;
    padding: 20px 40px;
    font-size: 15px;
    cursor: pointer;
    background-image:
            linear-gradient(to bottom,
            #fff9,
            transparent 50%, transparent 90%,
            #f5CBBC99),
            repeating-linear-gradient(60deg,
            #bc058255 0, #bc058255 10px,
            transparent 10px, transparent 20px),
            linear-gradient(to bottom,
            #EE08A6, #EE6C8F);
    box-shadow:
            0 12px 0 #0005,
            0 5px 0 #BD1360,
            0 5px 0 12px #fff,
            0 0 30px 20px #893066;
    transition: .4s;
    position: absolute;
    margin: 0 auto;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,-20%);
    font-family: "Times New Roman", serif;
    height: fit-content;
}
.btnGetNewKey:active{
    color: #bfceb6;
    box-shadow:
            0 0px 0 #0005,
            0 0px 0 #BD1360,
            0 0px 0 12px #fff,
            0 0 30px 20px #893066;
}

.btnGetNewKeyGroup{
    /*position: relative;*/
    width: 100%;
    margin-top: 50px;
    height: fit-content;
}

.div{
    position: relative;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    font-size: 7vw;
    text-align: center;
    height:8.5vw;
    line-height: 7.5vw;
    color: #fcedd8;
    font-family: 'Niconne', cursive;
    font-weight: 700;
    text-shadow:
    2px 2px 0px #eb452b,
    4px 4px 0px #efa032,
    6px 6px 0px #46b59b,
    8px 8px 0px #017e7f,
    10px 10px 0px #052939,
    12px 12px 0px #c11a2b,
    14px 14px 0px #c11a2b,
    16px 16px 0px #c11a2b,
    18px 18px 0px #c11a2b;
}

.p{
    position: absolute;
    left: 60%;
    transform: translateX(-50%);
    text-align: right;
    font-family: "Helvetica", serif;
    font-size: 0.8rem;
    color: #fff;
}

.a{
    color: #71dc33;
    text-decoration: none;
    font-family: 'Niconne', cursive;
    font-size: 1.2rem;

}

.logo{
    margin-top: 20px;
}

.borderSetting{
    background-color: white;
    max-width: 100%;
    min-width: max-content;
    width: 50%;
    padding: 20px;
    margin: 20px auto 0px auto;
    height: max-content;
    border: 1px solid #076080;
    border-radius: 15px;
}

.borderSetting p {
    font-size: 1.5em;
}

.itemSetting{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.itemSetting span{
    font-size: 1.1em;
}

.itemSettingv2{
    margin-top: 10px;
    width: 100%;
    justify-content: center;
}

.buttonApplySetting{
    border: 1px solid blue;
    padding: 7px 20px;
    font-size: 1.05em;
    border-radius: 20px;
    background-color: #0b85e8;
    color: white;
    cursor: pointer;
}

.buttonApplySetting:hover{
    background-color: #275577;
    border: 1px solid #222242;
    color: #e8e6e6;
}

.buttonUpdateSetting{
    border: 1px solid blue;
    padding: 7px 20px;
    font-size: 1.05em;
    border-radius: 20px;
    background-color: #0b85e8;
    color: white;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    width: max-content;
    cursor: pointer;
}
.buttonUpdateSetting:hover{
    background-color: #275577;
    border: 1px solid #222242;
    color: #e8e6e6;
}
