.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contentAction {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: end;
  .buttonAdd {
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #008BB7;
    color: white;
    height: fit-content;
    font-size: 20px;
    padding: 5px 20px;
    width: fit-content;
  }
}

.body {
  position: relative;
}
.actionGroup {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.styleButton {
  cursor: pointer;
  .styleIconButton {
    font-size: 20px;
  }
}
