.wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  justify-items: center;
  position: absolute;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  .header {
    background: #987808;
    position: relative;
    width: 100%;
    height: max-content;
    gap: 5px;
    display: flex;
    img {
      width: auto;
      height: 50px;
    }
    .headerContext {
      justify-content: space-between;
      padding: 5px;
      display: flex;
      flex-direction: column;
      label {
        font-weight: bold;
        font-size: 15px;
        color: white;
      }
      span {
        color: #67F386;
        font-size: 8px;
      }
    }
  }

  .footer {
    width: 100%;
    display: flex;
    background: #644E00;
    justify-content: space-between;
    .contact {
      align-items: center;
      justify-items: center;
      display: flex;
      gap: 20px;
      img {
        height: 50px;
      }
      .contactInfo {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .contactInfoTitle {
          font-size: 20px;
          color: white;
        }
        .itemContact {
          cursor: pointer !important;
          .itemContactBody {
            color: #CBCBCB;
            font-size: 15px;
            display: flex;
            align-items: center;
            justify-items: center;
            gap: 5px;
            label {
              cursor: pointer;
            }
            img {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    .containerYoutube {
      width: 100% !important;
    }
    .containerContent {
      display: flex;
      position: relative;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      .containerCenterTime {
        background: #42608D;
        border: 2px solid #765F24;
        color: white;
        font-weight: bold;
        width: 90px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        border-radius: 50%;
      }
      .containerCenterSubmit {
        user-select: none;
        background: #644E00;
        padding: 15px 25px;
        font-size: 20px;
        color: white;
        width: max-content;
        left: 50%;
        position: relative;
        transform: translateX(-50%);

        font-weight: bold;
        border-radius: 15px;
        cursor: pointer;
      }
      .containerCenterWaiting {
        user-select: none;
        background: rgba(211, 211, 211, 0.8);
        padding: 15px 25px;
        font-size: 20px;
        color: #a4a4a4;
        font-weight: bold;
        width: max-content;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
        border-radius: 15px;
        cursor: default;
      }
      .containerCenterNote {
        background: #FBFAF3;
        border: 1px solid #B99764;
        padding: 10px;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        gap: 5px;
        span:first-child {
          color: red;
        }
        span:last-child {
          width: 80%;
        }
      }
    }
  }
}
.customSpin {
  margin-left: 5px;
}